@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
@import "../theme/theme.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: DM Sans, sans-serif;
}

main {
  background-color: var(--color-white);
  color: var(--color-blue-dark);
  padding: 100px 60px 60px 60px;
  min-height: 100vh;
  text-align: center;
}
